body {
  text-align: center;
  font-family: monospace;
}
.top img {
  width: 80%;
}
.top h1 {
  font-size: 40px;
}

.intro h2 {
  font-size: 25px;
}

.intro p {
  font-size: 20px;
  font-family: cursive;
  padding-left: 80px;
  padding-right: 80px;
}

.content p {
  padding-left: 80px;
  padding-right: 80px;
}
