body {
  text-align: center;
  font-family: monospace;
  background-color: #e8d8b2;
}
.top img {
  width: 80%;
}
.top h1 {
  font-size: 40px;
}

.intro h2 {
  font-size: 25px;
}

.intro p {
  font-size: 20px;
  font-family: cursive;
  padding-left: 80px;
  padding-right: 80px;
}

.content p {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 15px;
}

.content img {
  width: 40%;
}
.country {
  color: red;
  font-style: italic;
}
